.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.guess-letters {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2rem;
}

.guess-outer {
  color: #444;
}

.guess-center {
  color: #f7da21;
}