.honeycomb {
    position: relative;
    height: 275px;
}


.buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 5.5em;
    min-width: 5.5em;
    height: 3em;
    background-color: #fff;
    font-size: 1em;
    margin: 0 8px;
    color: #333;
    border: 1px solid #dcdcdc;
    border-radius: 2.5em;
    letter-spacing: .01em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-block-start: 1rem;
}